/* Universal Rules */
html {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color:white;
}
/* Body Rules */

header {
    
    font-size: 50px;
    font-weight: normal;
}

.link-color {
    color: aquamarine;
    font-size: 16px;
}

.middlesectiontext {
    font-size: 21px;
    color:gray;
}
h1 {
    font-weight: 300;
    font-size: 42px;
    
}

